@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
    --primary-color:#F2994A;

    --font-montserrat: 'Montserrat', sans-serif;
    --font-playfair: 'Playfair Display', serif;

    --paragraph-color: #4F4F4F;
}


main {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 115px;
}


.page {
    padding: 0px 250px;
}

header h1 {
    font-size: 48px;
    font-family: var(--font-playfair);
}

header p {
    color: var(--paragraph-color);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-montserrat);
    font-style: italic;
    max-width: 600px;
}

#cheesecake {
    margin-left: -0px;
}

#cheesecake img {
    width: 100%;
}

.super-title {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-playfair);
}

.title {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    font-family: var(--font-playfair);
    color: #333333;
}

.item {
    display: flex;
    grid-column-gap: 17px;
    /* align-items:center; */
}

.item input {
    border: 1px solid 1px solid #828282;
    min-width: 21px;
    max-width: 21px;
    min-height: 21px;
    max-height: 21px;
    border-radius: 4px;
    margin-top: 22px;
}

.item p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-montserrat);
    color: var(--paragraph-color);
    line-height: 25px;
    margin-bottom: auto;
}

.item span {
    color: black;
    font-weight: 700;
}

.item .number {
    background-color: var(--primary-color);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    font-size: 24px;
    font-weight: 700;
    padding:2px 8px;
    border-radius: 4px;

    margin-bottom: auto;
    margin-top: 22px;
}

#source {
    text-decoration: none;
    color: #BDBDBD;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}


/* aside  */

#duration {
    width: 218px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.1);
    padding-block: 22px;
    margin-top: 36px;
}
.duration-item {
    display: flex;
    justify-content: center;
    grid-column-gap:14px;
}
.duration-item span {
    font-size: 28px;
    color: #4F4F4F;
    margin-top: 16px;
}

.duration-item h5 {
    font-size: 10px;
    font-weight: 700;
    color: #BDBDBD;
    line-height: 12px;
    margin-bottom: -8px;
}

.duration-item p {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.duration-item:hover span {
    color: var(--primary-color);
}

.selected span {
    color: var(--primary-color);
}

@media screen and (max-width:1100px) {
    main {
        flex-wrap: wrap-reverse;
    }
    .page {
        padding-inline: 100px;
    }

    #duration {
        box-shadow: none;
        display: flex;
        width: 100%;
        grid-column-gap: 60px;
    }
}

@media screen and (max-width:900px) {
    .page {
        padding-inline: 32px;
    }

    #duration {
        flex-wrap: wrap;
        padding-block: 0px;
    }
}

@media screen and (max-width:700px){
    header h1 {
        font-size: 32px;
    }
}

@media screen and (max-width:500px) {
    .page {
        padding-inline: 0px;
    }
    header h1 {
        font-size: 24px;
    }
}